<h1>Membership Types</h1>

<% if @membership_types.empty? %>
    <p> No membership types were found. </p>
<% else %>
    <table class="table">
    <tr>
        <td>ID</td>
        <td>Membership Type Name</td>
        <td>Membership Type Code</td>
        <td>Duration (Days)</td>
        <td>Cost</td>
    </tr>

    <% @membership_types.each do |membership_type| %>
        <tr>
            <td><%= link_to '#' + membership_type.id.to_s, edit_membership_type_path(membership_type) %></td>
            <td><%= membership_type.tx_membership_type %> </td>
            <td><%= membership_type.cd_membership_type_code %> </td>
            <td><%= membership_type.nb_membership_duration %> </td>
            <td><%= membership_type.am_cost %> </td>
        </tr>
    <% end %>
    </table>
<% end %>
<%= button_to 'New Membership Type', new_membership_type_path, :method => :get %>

