<!DOCTYPE html>
<html>
<head>
  <title>All Members></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>MemberType#index</h1>
<p>Find me in app/views/membership_type/index.html.erb</p>
<% if @membership_types.empty? %>
    <p> No membership types were found. </p>
<% else %>
    <% @membership_types.each do |membership_type| %>
        <br/>
        <h2>Membership Type Id: #<%= membership_type.id %></h2>
        <p>Membership Type Name: <%= membership_type.tx_membership_type %> </p>
        <p>Membership Type Code: <%= membership_type.cd_membership_type_code %> </p>
        <p>Duration (Days): <%= membership_type.nb_membership_duration %> </p>
    <% end %>
<% end %>
</body>
</html>

