<h1><%= @membership_type.tx_membership_type %> Membership Type </h1>

<p>Membership Type Code: <%= @membership_type.cd_membership_type_code %> </p>
<p>Duration (Days): <%= @membership_type.nb_membership_duration %> </p>
<p>Cost: <%= @membership_type.am_cost %> </p>
<br/>
<%= button_to "Back to Membership Type List", membership_type_index_path, :method => :get%>