<!DOCTYPE html>
<html>
<head>
  <title>MembershipType - <%= @membership_type.cd_membership_type_code %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>MembershipType#show</h1>
<p>Find me in app/views/membership_type/show.html.erb</p>

<p>Membership Type Name: <%= @membership_type.tx_membership_type %> </p>
<p>Membership Type Code: <%= @membership_type.cd_membership_type_code %> </p>
<p>Duration (Days): <%= @membership_type.nb_membership_duration %> </p>

</body>
</html>

