<!DOCTYPE html>
<html>
<head>
  <title>New Member</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Member#edit</h1>
<p>Find me in app/views/member/create.html.erb</p>

<%= form_for @member do |f| %>
  <p>First name: <%= text_field(:member,:tx_first_name ) %></p><br/>
  <p>Last name: <%= text_field(:member,:tx_last_name) %></p><br/>
  <p>Address: <%= text_field(:member,:tx_address) %></p><br/>
  <p>Membership Type:
    <% if @member.membership == nil %>
        Not currently a member.
    <% else %>
        <%= @member.membership.membership_type.tx_membership_type %>
    <% end %>
  </p> <br/>
    <input type="submit" value="Submit">
<% end %>
<%= button_to "Cancel", member_path(@member), :method => :get%>
</body>
</html>

