<!DOCTYPE html>
<html>
<head>
  <title>All Members></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Member#index</h1>
<p>Find me in app/views/member/index.html.erb</p>
<br/>
<h2>Member List:</h2>
<% if @members.empty? %>
    <p> No members were found. </p>
<% else %>
    <br/>
    <table class="member_table">
      <tr>
        <td>ID</td>
        <td>Full Name</td>
        <td>Address</td>
        <td>Current Membership</td>
        <td>Expires</td>
      </tr>
    <% @members.each do |member| %>
        <tr>
            <td><%= link_to '#' + member.id.to_s, member_path(member) %></td>
            <td><%= member.tx_first_name %> <%= member.tx_last_name %></td>
            <td><%= member.tx_address %></td>
            <% if member.membership != nil && member.membership.membership_type != nil? %>
                <td><%= member.membership.membership_type.tx_membership_type %></td>
                <td><%= member.membership.dt_expiration_date.strftime("%m/%d/%Y") %></td>
            <% else %>
             <td>N/A</td>
              <td>N/A</td>
            <% end %>
        </tr>

    <% end %>
    </table>
<% end %>
<%= button_to 'New Member', new_member_path, :method => :get %>
<%= button_to "Main Menu", welcome_index_path, :method => :get%>
</body>
</html>

