<!DOCTYPE html>
<html>
<head>
  <title>New Member</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Member#new</h1>
<p>Find me in app/views/member/create.html.erb</p>

<%= form_tag("/member", method: "post") do %>
  First name: <%= text_field(:member,:tx_first_name, ) %> <br/>
  Last name: <%= text_field(:member,:tx_last_name) %> <br/>
  Address: <%= text_field(:member,:tx_address) %> <br/>
  Membership Type:
    <% if @membership_type_list.length < 1 %>
        No membership types currently available.
    <% else %>
        <%= options_for_select(@membership_type_list) %>
    <% end %>
    <br/>
<input type="submit" value="Submit">
<% end %>
</body>
</html>

