<!DOCTYPE html>
<html>
<head>
  <title>Member - <%= @member.tx_first_name %> <%= @member.tx_last_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Member#show</h1>
<p>Find me in app/views/member/show.html.erb</p>

<p> Member First Name: <%= @member.tx_first_name %> </p>
<p> Member Last Name: <%= @member.tx_last_name %> </p>
<p> Member Address: <%= @member.tx_address %> </p>
<p> Member Hash: <%= @member.hs_member %> </p>
<p> Membership Type: <%= @member.membership.membership_type.tx_membership_type %></p>
<p> Membership Expires: <%= @member.membership.dt_expiration_date %></p>
<p> QR Code: <%= render_qr_code(@member.hs_member) %> </p>

<%= button_to 'Edit', edit_member_path(@member), :method => :get %>
<%= button_to "Back to Member List", member_index_path, :method => :get%>
</body>
</html>

