<!DOCTYPE html>
<html>
<head>
  <title>New Member</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>MembershipType#edit</h1>
<p>Find me in app/views/membership_type/create.html.erb</p>

<%= form_for @membership_type do |f| %>
  Membership Type Name: <%= text_field(:membership_type,:tx_membership_type ) %> <br/>
  Membership Type Code: <%= text_field(:membership_type,:cd_membership_type_code) %> <br/>
  Duration (Days): <%= number_field(:membership_type,:nb_membership_duration) %> <br/>
  <input type="submit" value="Submit">
<% end %>
<%= button_to "Back to Membership Type List", membership_type_index_path, :method => :get%>
</body>
</html>

