<!DOCTYPE html>
<html>
<head>
  <title>Update Membership</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>MembershipType#edit</h1>
<p>Find me in app/views/membership_type/create.html.erb</p>

<%= form_for @membership do |f| %>
  Current Membership Type Name: <%= text_field(:membership, :membership_type, :tx_membership_type ) %> <br/>
  <input type="submit" value="Submit">
<% end %>
<%= button_to "Back to Membership Type List", membership_type_index_path, :method => :get%>
</body>
</html>

